include .github/workflows/ci.yml
include .gitignore
include .gitmodules
include CMakeLists.txt
include README.md
include examples/opencv_example.py
include examples/simple.py
include extern/quirc/.gitignore
include extern/quirc/LICENSE
include extern/quirc/Makefile
include extern/quirc/README.md
include extern/quirc/demo/camera.c
include extern/quirc/demo/camera.h
include extern/quirc/demo/convert.c
include extern/quirc/demo/convert.h
include extern/quirc/demo/demo.c
include extern/quirc/demo/demo_opencv.cxx
include extern/quirc/demo/demoutil.c
include extern/quirc/demo/demoutil.h
include extern/quirc/demo/dthash.c
include extern/quirc/demo/dthash.h
include extern/quirc/demo/mjpeg.c
include extern/quirc/demo/mjpeg.h
include extern/quirc/demo/scanner.c
include extern/quirc/lib/decode.c
include extern/quirc/lib/identify.c
include extern/quirc/lib/quirc.c
include extern/quirc/lib/quirc.h
include extern/quirc/lib/quirc_internal.h
include extern/quirc/lib/version_db.c
include extern/quirc/tests/dbgutil.c
include extern/quirc/tests/dbgutil.h
include extern/quirc/tests/inspect.c
include extern/quirc/tests/inspect_opencv.cxx
include extern/quirc/tests/qrtest.c
include include/quirc++/data.h
include include/quirc++/decoder.h
include pyproject.toml
include resources/helloworld.dat
include resources/helloworld.png
include setup.cfg
include setup.py
include src/decode.cpp
include src/decoder.cpp
include src/main.cpp
include src/pyquirc.cpp
include src/quirc/__init__.py
include src/quirc/__main__.py
include src/quirc/tests/__init__.py
include src/quirc/tests/conftest.py
include src/quirc/tests/test_decode.py
include src/quirc/tests/test_low_level.py
exclude MANIFEST.in