name: CI

on:
  push:
    branches:
      - main
    tags:
      - "**"
  pull_request:

env:
  PYTEST_ADDOPTS: --color=yes -v

jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install"
        run: |
          python -VV
          python -m site
          pip install '.[tests]'

      - name: "Run tests"
        run: |
          python -m pytest --pyargs quirc

      - name: "Run example"
        run: |
          python examples/simple.py

      - name: "Run entry point"
        run: |
          pyquirc_decode --help
          pyquirc_decode resources/helloworld.png -v | grep 'Hello, World!'

      - uses: codecov/codecov-action@v2

  cmake_build:
    name: "CMake build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: "Install pybind"
        run: |
          sudo apt-get install pybind11-dev

      - name: "Build"
        run: |
          cmake -S . -B build \
            -DCMAKE_CXX_FLAGS="-Werror -Wextra -Wall -Wpedantic -Weffc++ -Wconversion -Wsign-compare -Wunreachable-code -Wunused" \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=~/.local/quirc++
          cmake --build build -- -j 2
          cmake --install build
